*{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.card{
    width: 365px;
    height: 270px;
    background-color: beige;
    border-radius: 20px;
}

.imagen-juego{
    background-color: blue;
    height: 78%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.imagen-juego img{
    width: fit-content;
    height: fit-content;
}

.subImagen{
    display: flex;
    justify-content: space-between;
    height: 22%;
    background-color: #711EB0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.nombre-precio{
    width: 70%;
    height: 100%;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: space-around;
    border-bottom-left-radius: 20px;
}
.boton{
    width: 30%;
    height: 100%;
    /* background-color: burlywood; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 20px;
}

