@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--negro2);
    font-family: var(--rubik);
}

:root{
    --violeta: #711EB0;
    --violeta-1: #45126B;
    --negro2:  #363636;
    --negro3: #131313;
    --gris2: #5C5C5C;

    --acento: #00CCFF;
    --acento2: #00A0FF;
    --acento3: #00FFFF;
    --blanco: #F4F4F4;
    --verde: #00FF00;
    --verde-1: #00A701;

    --verde: #32CD32;
    --rubik: 'Rubik';
    
}

.container{
    display: grid;
    height: 25vh;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    /* grid-template-columns: auto 1fr auto; */
    grid-template-rows: auto 1fr auto;
}

h1 {
    color: var(--blanco);
    font-style: bold;
    font-family: var(--rubik);
    font-weight: 700;
    font-size: 32p;
    
}

h2 {
    color: var(--blanco);
    font-weight: 500;
    font-family: var(--rubik);
    font-size: 20px;
}

h3 {
    color:var(--blanco);
    font-weight: 600;
    font-family: var(--rubik);
    font-size: 14px;
    font-weight: 500;
}

h4 {
    color: var(--blanco);
    font-weight: 600;
    font-family: var(--rubik);
    font-size: 12px;
    font-weight: 200;
}

h5 {
    color: var(--blanco);
    font-weight: 600;
}

p {
    color: var(--blanco);
    font-size: 12px;
    font-weight: 400;
    font-family: var(--rubik);
}
.txt-negro{
    color: var(--negro3);
}

header{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: var(--violeta-1);
    align-items: center;
    grid-area: header;
}

.menuHamburguesa{
    width: fit-content;
    height: fit-content;
}

.menuHamburguesa img{
    width: 90px;
    height: 90px;
}

.logo{
    width: 135px;
    height: fit-content;
    position: relative;
    left: 10px;
}

.logo img{
    width: 130px;
    height: 70px;
}

.barraBusqueda{
    display:flex;
    align-items: center;
    position: relative;
    width: 490px;
    height: 50px;
    left: 175px;
}

.barra{
    width: 100%;
    height: 100%;
    padding-right: 40px;
    box-sizing: border-box;
    border-radius: 20px;
}

.lupa{
    position: relative;
    right: 50px;
    height: 25px;
    z-index: 1;
}

.carrito{
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 110px;
}

.logoUser{
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 10px;
}
.menuCategorias{
    width: 80px;
    height: 1000px;
    background-color: #131313;
    position: absolute;
    top:80px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-around;
    padding: 10px 0;
}
.open{
    transform: translateX(-200px);
    transition: opacity 0.8s ease;
}
.menuCategorias:hover {
    width: 190px; /* Se expande mostrando los nombres */
    align-items: center; 
}
.nombreCategoria {
    color: var(--blanco);
    font-style: bold;
    font-family: var(--rubik);
    font-weight: 700;
    font-size: 32p;
    width: 80px;
    opacity: 0; /* Nombres ocultos por defecto */
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center; 
    
}
.menuCategorias:hover .nombreCategoria {
    opacity: 1; /* Nombres aparecen al hacer hover */
    
}
.menuCategorias:hover .iconoCategoria {
    align-items: center;
    justify-content: flex-start;
    transform: translateX(-50px);
}
.iconoCategoria {
    width: 40px; /* Ajusta el tamaño del icono según prefieras */
    height: 48px;
    
    margin-bottom: 10px; /* Añadir espacio entre los iconos */
    cursor: pointer; /* Cambia el cursor cuando pases sobre el ícono */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transform: translateX(-8px);
}



main{
    grid-area: main;
    background-color: aqua;
}

/* Estilos básicos para el footer */
.fatFooter {
    background-color: var(--negro3);
    padding: 40px 0;
    color: var(--blanco);
    z-index: 1;
  }
  
  .fatFooter .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footerColumn {
    width: 18%;
  }
  
  .footerColumn h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .footerColumn ul {
    list-style: none;
    padding: 0;
  }
  
  .footerColumn ul li {
    margin-bottom: 10px;
  }
  
  .footerColumn ul li a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 0.9em;
  }
  
  .footerColumn ul li a:hover {
    text-decoration: underline;
  }
  
  .socialIcons a {
    margin-right: 10px;
    font-size: 1.5em;
    color: var(--acento);
  }

  .socialIcons i{
    transition: all 0.9s cubic-bezier(0.33, 1, 0.68, 1);
  }
  
  .socialIcons i:hover {
    color: var(--acento);
    transform: scale(2.1); /* Agranda el botón suavemente */
  }
  
  /* Estilo para el address */
  footer address {
    font-style: var(--rubik);
    font-size: 0.9em;
    line-height: 1.5;
    margin-top: 20px;
  }
  
  /* Sección de botones */
  .footerButtons {
    display: flex;
    flex-direction: column;
  }
  
  .footerButtons .btn {
    background-color: var(--acento);
    color: var(--blanco);
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
  }
  
  .footerButtons .btn:hover {
    animation: pulse 1s infinite;
    transition: .3s;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }

    70% {
      transform: scale(.9);
    }

    100% {
      transform: scale(1);
    }
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .fat-footer .container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-column, .footer-buttons {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
    }
  }
