@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--negro2);
    font-family: var(--rubik);
}

:root{
    --violeta: #711EB0;
    --violeta-1: #45126B;
    --negro2:  #363636;
    --negro3: #131313;
    --gris2: #5C5C5C;

    --acento: #00CCFF;
    --acento2: #00A0FF;
    --acento3: #00FFFF;
    --blanco: #F4F4F4;
    --verde: #00FF00;
    --verde-1: #00A701;
    --facebook: #39538b;
    --verde: #32CD32;
    --rubik: 'Rubik';
    
}

h1 {
    color: var(--blanco);
    font-style: bold;
    font-family: var(--rubik);
    font-weight: 700;
    font-size: 32p;
    
}

h2 {
    color: var(--blanco);
    font-weight: 500;
    font-family: var(--rubik);
    font-size: 20px;
}

h3 {
    color:var(--blanco);
    font-weight: 600;
    font-family: var(--rubik);
    font-size: 14px;
    font-weight: 500;
}

h4 {
    color: var(--blanco);
    font-weight: 600;
    font-family: var(--rubik);
    font-size: 12px;
    font-weight: 200;
}

h5 {
    color: var(--blanco);
    font-weight: 600;
}

p {
    color: var(--blanco);
    font-size: 12px;
    font-weight: 400;
    font-family: var(--rubik);
}
.txt-negro{
    color: var(--negro3);
}

header{
  display: flex;
  width: 100%;
  height: 60px;
  background-color: var(--violeta-1);
  /* justify-content:  space-around; */
  align-items: center;
  grid-area: header;
}

.menuHamburguesa{
    width: fit-content;
    height: fit-content;
}

.menuHamburguesa img{
    width: 55px;
    height: 55px;
    margin-top: 10px;
}

.logo{
    width: 95px;
    height: 50px;
    position: relative;
    /* left: 5px; */
}

.logo img{
    width: 100%;
    height: 100%;
}

.barraBusqueda{
    display:flex;
    align-items: center;
    position: relative;
    width: 490px;
    height: 35px;
    left: 250px;
    
    
}

.barra{
    width: 100%;
    height: 100%;
    padding-right: 40px;
    box-sizing: border-box;
    border-radius: 20px;
}

.lupa{
    position: relative;
    right: 50px;
    height: 25px;
    z-index: 1;
}

.carrito{
    width: 50px;
    height: 30px;
    position: absolute;
    right: 70px;
}
.carrito img{
  width: 100%;
  height: 100%;
}

.logoUser{
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 10px;
}
.logoUser img{
  width: 40px;
  height: 40px;
}
.menuCategorias{
    width: 80px;
    height: 165%;
    background-color: var(--violeta-1);
    position: absolute;
    top:60px;
    left: -14px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-around;
    padding: 10px 0;
    z-index: 3;
}
.open{
    transform: translateX(-200px);
    transition: opacity 0.8s ease;
}
.menuCategorias:hover {
    width: 190px; 
    align-items: center; 
}
.nombreCategoria {
    color: var(--blanco);
    font-style: bold;
    font-family: var(--rubik);
    font-weight: 700;
    font-size: 32p;
    width: 80px;
    opacity: 0; 
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center; 
    
}
.menuCategorias:hover .nombreCategoria {
    opacity: 1; 
    
}
.menuCategorias:hover .iconoCategoria {
    align-items: center;
    justify-content: flex-start;
    transform: translateX(-50px);
}
.iconoCategoria {
    width: 40px; 
    height: 48px;
    
    margin-bottom: 10px; 
    cursor: pointer; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transform: translateX(-8px);
}



main{
    grid-area: main;
    background-color: aqua;
}

/* Estilos básicos para el footer */
.fatFooter {
  width: 100%;
  background-color: var(--negro3);
  padding: 40px 0;
  color: var(--blanco);
  z-index: 1;
}

.fatFooter .fatContainer {
  display: flex;
  justify-content: space-between;
  align-items: wrap;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.footerColumn {
  width: 18%;
}

.footerColumn h3 {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.footerColumn ul {
  list-style: none;
  padding: 0;
}

.footerColumn ul li {
  margin-bottom: 10px;
}

.footerColumn ul li a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 0.9em;
}

.footerColumn ul li a:hover {
  text-decoration: underline;
}

.socialIcons a {
  margin-right: 10px;
  font-size: 1.5em;
  color: var(--acento);
}

.socialIcons i{
  transition: all 0.9s cubic-bezier(0.33, 1, 0.68, 1);
}

.socialIcons i:hover {
  color: var(--acento);
  transform: scale(1.5); 
}

/* Estilo para el address */
footer address {
  font-style: var(--rubik);
  font-size: 0.9em;
  line-height: 1.5;
  margin-top: 20px;
}

/* Sección de botones */
.footerButtons {
  display: flex;
  flex-direction: column;
}

.footerButtons .btn {
  background-color: var(--acento);
  color: var(--blanco);
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: .3s;
}

.footerButtons .btn:hover {
  animation: pulse 1s infinite;
  transition: .3s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {

  .fatContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
  }

  .socialIcons{
    display: flex;
    flex-direction: row;
  }

  header {
    justify-content: space-between;
    padding: 0 20px;
  }

  .menuHamburguesa img {
      width: 70px;
      height: 70px;
  }
  

.fatFooter .fatContainer {
  display: flex;
  justify-content: space-between;
  align-items: wrap;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.footerColumn {
  width: 18%;
}

.footerColumn h3 {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.footerColumn ul {
  list-style: none;
  padding: 0;
}

.footerColumn ul li {
  margin-bottom: 10px;
}

.footerColumn ul li a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 0.9em;
}

.footerColumn ul li a:hover {
  text-decoration: underline;
}

.socialIcons a {
  margin-right: 10px;
  font-size: 1.5em;
  color: var(--acento);
}

.socialIcons i{
  transition: all 0.9s cubic-bezier(0.33, 1, 0.68, 1);
}

.socialIcons i:hover {
  color: var(--acento);
  transform: scale(1.5); /* Agranda el botón suavemente */
}

/* Estilo para el address */
footer address {
  font-style: var(--rubik);
  font-size: 0.9em;
  line-height: 1.5;
  margin-top: 20px;
}

/* Sección de botones */
.footerButtons {
  display: flex;
  flex-direction: column;
}

.footerButtons .btn {
  background-color: var(--acento);
  color: var(--blanco);
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: .3s;
}

.footerButtons .btn:hover {
  animation: pulse 1s infinite;
  transition: .3s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}
}
  /* Responsive */
  @media (max-width: 768px) {
    .fat-footer .container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-column, .footer-buttons {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
  }

  }