@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--negro2);
}

:root{
    --violeta: #711EB0;
    --violeta-1: #45126B;
    --negro2:  #363636;
    --negro3: #131313;
    --gris2: #5C5C5C;

    --acento: #00CCFF;
    --acento2: #00A0FF;
    --blanco: #F4F4F4;

    --rubik: 'Rubik';
    
}

h1 {
    color: var(--blanco);
    font-style: bold;
    font-family: var(--rubik);
    font-weight: 700;
    font-size: 32p;
    
}

h2 {
    color: #FFF;
    font-weight: 700;
}

h3 {
    color: #FFF;
    font-weight: 600;
}

h4 {
    color: #FFF;
    font-weight: 600;
}

h5 {
    color: #FFF;
    font-weight: 600;
}

p {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
}

header{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: var(--violeta-1);
    align-items: center;
}

.menuHamburguesa{
    
    width: fit-content;
    height: fit-content;
}

.menuHamburguesa img{
    width: 90px;
    height: 90px;
}

.logo{
    width: 135px;
    height: fit-content;
    position: relative;
    left: 10px;
}

.logo img{
    width: 130px;
    height: 70px;
}

.barraBusqueda{
    display:flex;
    align-items: center;
    position: relative;
    width: 490px;
    height: 50px;
    left: 175px;
}

.barra{
    width: 100%;
    height: 100%;
    padding-right: 40px;
    box-sizing: border-box;
    border-radius: 20px;
}
.lupa{
    position: relative;
    right: 50px;
    height: 25px;
    z-index: 1;
}

.carrito{
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 110px;
}

.logoUser{
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 10px;
}