.seccion6 {
    display: flex;
    max-width: 1280px;
    align-items: center;
    padding: 10%;
}

.text-content  {
    max-width: 50%;
    position: absolute;
    top: 11072px;
}

.text-content h1 {
    width: 746px;
    height: 285px;
   
    color: #A02727;
    font-weight: bold;
    line-height: 56.7px;
    font-size: 60px;
    font-weight: 600;
    
}

.text-content p {
    
    width: 467px;
    height: 190px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 18.9px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    position: relative;
    top: 40px;

}



model-viewer {
    width: 667px;
    height: 973px;
    position: absolute;
    top: 10859px;
    right: 100px;
    /* border: 2px solid red;
    display: block; */
    
}