
#titleContenedor {
    width: 802px;
    height: 57px;
    font-size: 60px;
    position: absolute;
    top: 4161px;
    left: 200px;
}



.demoImagContainer {
    width: 552px;
    height: 1650px;
    display: flex;
    flex-direction: column;
    position: absolute;

}

.demoImags {
    width: 100%;
    height: 302px;
    
    top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.demoImag img {
    position: absolute;
    height: auto;
    transition: transform 0s ease, opacity 0.3s ease;
}

#infoImg0 {
    width: 291px;
    height: 436px;
    top: 4115px;
    left: 303px;
}

#infoImg1 {
    width: 379px;
    height: 509px;
    top: 4636px;
    left: 243px;
}

#infoImg2 {
    width: 266px;
    height: 479px;
    top: 5128px;
    left: 303px;
}

#infoImg3 {
    width: 187px;
    height: 497px;
    top: 5613px;
    left: 380px;
}

#infoImg4 {
    width: 475px;
    height: 488px;
    top: 6145px;
    left: 196px;
}

#infoImg5 {
    width: 231px;
    height: 509px;
    top: 6632px;
    left: 375px;
}

#infoImg6 {
    width: 338px;
    height: 514px;
    top: 7100px;
    left: 312px;
}

#infoImg7 {
    width: 134px;
    height: 482px;
    top: 7588px;
    left: 440px;
}

#infoImg8 {
    width: 437px;
    height: 499px;
    top: 8030px;
    left: 243px;
}

#infoImg9 {
    width: 485px;
    height: 509px;
    top: 8475px;
    left: 243px;
}

/* informacion de la demo */
.demoInfos {
    position: absolute;
    right: -1200px;
    width: 467px;
    height: 4469px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    top: 4300px;

}


.info h1 {
    margin-top: 0;
    font-size: 37px;
    font-weight: 100;
    line-height: 94.5%;
}

.info p {
    line-height: 94.5%;
    font-size: 20px;
    margin-bottom: 0;
}

#info1{
    width: 467px;
    height: 167px;
}

#info2{
    width: 467px;
    height: 148px;
}

#info3{
    width: 467px;
    height: 148px;
}

#info4{
    width: 467px;
    height: 186px;
}

#info5{
    width: 467px;
    height: 148px;
}

#info6{
    width: 467px;
    height: 186px;
}

#info7{
    width: 467px;
    height: 186px;
}

#info8{
    width: 467px;
    height: 148px;
}
  
/* Estilos para imágenes inactivas */
.inactive {

opacity: 0;
transform: scale(0.8);
transition: opacity 0.5s, transform 0.5s;
}
  
/* Estilos para imágenes activas */
.demoImag img:not(.inactive) {
 
opacity: 1;
animation: fadeZoomIn 0s ease-out;

}
.sticky{
    position:sticky;
}


/* Animación de fade-in y zoom-in */
@keyframes fadeZoomIn {
    0% {
      opacity: 0;
     
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
}
