
body{
    max-width: 1280px;
    max-height: 1080px;
    background-color: white;
    overflow-x: hidden;
    padding: 0;
    margin: 0 auto;
}

/*Barra de navegación*/

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    width: 1280px;
    height: 113px;
    background: linear-gradient(180deg, #00CED6 0%, #00CED6 87.91%, rgba(84, 153, 248, 0.00) 100%);;
    z-index: 2000;
    transition: top 0.3s ease;
}

.navbarContainer {
    width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto auto 32px auto;
}

.navbarContainer>* {
    flex: 1;
}

.navbarMedio {
    opacity: 0;
    display: flex;
    justify-content: center;
}

.navbarMedio .logo {
    width: 50%; /* Ajusta el ancho deseado */
    height: auto; /* Mantiene la relación de aspecto */
    transform: translateY(3px);
}

.navbarDerecha {
    display: flex;
    justify-content: end;
}


/*Botón hamburguesa*/
.hamburguesa {
    width: 46px;
    height: 39px;
    flex-shrink: 0;
    cursor: pointer;
}

/* Animación de hamburguesa a cruz */
@keyframes hamburguesaACruzBarra1 {
    0% {
        transform: rotate(0) translate(0, 0);
    }
    100% {
        transform: rotate(45deg) translate(4px, -8px);
    }
}

@keyframes hamburguesaACruzBarra3 {
    0% {
        transform: rotate(0) translate(0, 0);
    }
    100% {
        transform: rotate(-45deg) translate(-18px, -2px);
    }
}

/* Animación de cruz a hamburguesa */
@keyframes cruzAHamburguesaBarra1 {
    0% {
        transform: rotate(45deg)translate(4px, -8px);
    }
    100% {
        transform: rotate(0) translate(0, 0);
    }
}

@keyframes cruzAHamburguesaBarra3 {
    0% {
        transform: rotate(-45deg) translate(-18px, -2px);
    }
    100% {
        transform: rotate(0) translate(0, 0);
    }
}

/* Barra central se desvanece */
@keyframes ocultarBarra {
    0% {
        opacity: 1;
        stroke-opacity: 1;
    }
    100% {
        opacity: 0;
        stroke-opacity: 0;
    }
}

@keyframes mostrarBarra {
    0% {
        opacity: 0;
        stroke-opacity: 0;
    }
    100% {
        opacity: 1;
        stroke-opacity: 1;
    }
}

/* Aplicar las animaciones a las barras */
.hamburguesa.cruz #barra1 {
    animation: hamburguesaACruzBarra1 0.4s forwards;
}

.hamburguesa.cruz #barra2 {
    animation: ocultarBarra 0.2s forwards;
}

.hamburguesa.cruz #barra3 {
    animation: hamburguesaACruzBarra3 0.4s forwards;
}

.hamburguesa.volver #barra1 {
    animation: cruzAHamburguesaBarra1 0.4s forwards;
}

.hamburguesa.volver #barra2 {
    animation: mostrarBarra 0.2s forwards;
}

.hamburguesa.volver #barra3 {
    animation: cruzAHamburguesaBarra3 0.4s forwards;
}

/*Boton de Comprar*/
.boton {
    width: 200px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 111px;
    border: 8px solid white;
    background: #83C252;
    box-shadow: 4px 5px 0px 0px #02187E;
    cursor: pointer;
}

.btnAnimado {
    transition: all 0.3s ease;
}

.boton h4 {
    margin: auto;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%;
}

/*Capas*/
.fondo {
    margin-top: 100px;
    width: 1280px;
    height: 799px;
    position: relative;
}

.parallax {
    position: relative;
    height: 850px;
    overflow: hidden;
}

.layerInicial {
    position: absolute;
}

.layer {
    position: absolute;

}

/* .invisible {
    opacity: 0;
} */

.animacion {
    animation: aparecer 1s cubic-bezier(0.42, 0, 0.58, 1);
    /* Otras propiedades de estilo para la entrada */
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateX(-50px);
        /* Otras propiedades de inicio */
    }

    to {
        opacity: 1;
        transform: translateX(0);
        /* Otras propiedades para cuando está completamente visible */
    }
}

#fondo {
    width: 1280px;
    top: 0%;
    z-index: 1;
}

#arbolGrande {
    left: -12%;
    z-index: 2;
    bottom: 10%;
}

#arbolMedio {
    top: 5%;
    left: 69%;
    z-index: 3;
}

#arbolChico {
    top: 21%;
    left: 85%;
    z-index: 2;
}

#arbusto1 {
    right: 4%;
    z-index: 1;
    top: 63%;
}

#arbusto2 {
    right: -3%;
    z-index: 2;
    top: 66%;
}

#arbusto3 {
    right: 73%;
    z-index: 3;
    top: 85%;
}

#arbusto4 {
    z-index: 1;
    right: 68%;
    top: 73%;
}

#titulo {
    right: 27%;
    z-index: 3;
    top: 4%;
}

#piedra1 {
    right: 7%;
    z-index: 4;
    top: 74%;
}

#piedra2 {
    right: 78%;
    z-index: 2;
    top: 81%;
}

#piedra3 {
    right: 14%;
    z-index: 3;
    top: 75%;
}

#piedra4 {
    right: 14%;
    z-index: 4;
    top: 79%;
}

#personaje1 {
    right: 47%;
    z-index: 3;
    top: 54%;
}

#personaje2 {
    right: 40%;
    z-index: 2;
    top: 46%;
}

#personaje3 {
    right: 27%;
    z-index: 1;
    top: 38%;
}

/* .invisible {
    opacity: 0;
} */

/* css del modelo 3d
model-viewer {
    width: 25%;    /* Ocupa el ancho completo del contenedor */
    /* height: 500px;  Ajusta la altura según sea necesario 
}*/