*{
    margin: 0px;
    padding: 0px;
}
body{
    max-width: 1280px;
    max-height: 1080px;
    background-color: white;
    overflow-x: hidden;
    padding: 0;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.container{
    width: 1280px;
    height: 14780px;
    overflow: hidden;
}

/*Barra de navegación*/
header{
    height: 103px;
}
.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    width: 1280px;
    height: 103px;
    background: linear-gradient(180deg, #00CED6 0%, #00CED6 87.91%, rgba(84, 153, 248, 0.00) 100%);;
    z-index: 2000;
    transition: top 0.3s ease;
}

.navbarContainer {
    width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto auto 32px auto;
}

.navbarContainer>* {
    flex: 1;
}

.navbarMedio {
    opacity: 0;
    display: flex;
    justify-content: center;
}

.navbarMedio .logo {
    width: 50%; /* Ajusta el ancho deseado */
    height: auto; /* Mantiene la relación de aspecto */
    transform: translateY(3px);
}

.navbarDerecha {
    display: flex;
    justify-content: end;
}


/*Botón hamburguesa*/
.hamburguesa {
    width: 46px;
    height: 39px;
    flex-shrink: 0;
    cursor: pointer;
}

/* Animación de hamburguesa a cruz */
@keyframes hamburguesaACruzBarra1 {
    0% {
        transform: rotate(0) translate(0, 0);
    }
    100% {
        transform: rotate(45deg) translate(4px, -8px);
    }
}

@keyframes hamburguesaACruzBarra3 {
    0% {
        transform: rotate(0) translate(0, 0);
    }
    100% {
        transform: rotate(-45deg) translate(-18px, -2px);
    }
}

/* Animación de cruz a hamburguesa */
@keyframes cruzAHamburguesaBarra1 {
    0% {
        transform: rotate(45deg)translate(4px, -8px);
    }
    100% {
        transform: rotate(0) translate(0, 0);
    }
}

@keyframes cruzAHamburguesaBarra3 {
    0% {
        transform: rotate(-45deg) translate(-18px, -2px);
    }
    100% {
        transform: rotate(0) translate(0, 0);
    }
}

/* Barra central se desvanece */
@keyframes ocultarBarra {
    0% {
        opacity: 1;
        stroke-opacity: 1;
    }
    100% {
        opacity: 0;
        stroke-opacity: 0;
    }
}

@keyframes mostrarBarra {
    0% {
        opacity: 0;
        stroke-opacity: 0;
    }
    100% {
        opacity: 1;
        stroke-opacity: 1;
    }
}

/* Aplicar las animaciones a las barras */
.hamburguesa.cruz #barra1 {
    animation: hamburguesaACruzBarra1 0.4s forwards;
}

.hamburguesa.cruz #barra2 {
    animation: ocultarBarra 0.2s forwards;
}

.hamburguesa.cruz #barra3 {
    animation: hamburguesaACruzBarra3 0.4s forwards;
}

.hamburguesa.volver #barra1 {
    animation: cruzAHamburguesaBarra1 0.4s forwards;
}

.hamburguesa.volver #barra2 {
    animation: mostrarBarra 0.2s forwards;
}

.hamburguesa.volver #barra3 {
    animation: cruzAHamburguesaBarra3 0.4s forwards;
}

/*Botón de Comprar*/
.boton {
    width: 200px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 111px;
    border: 8px solid white;
    background: #83C252;
    box-shadow: 4px 5px 0px 0px #02187E;
    cursor: pointer;
    color: white; /* Color del texto en estado normal */
    font-weight: bold;
}

.boton:hover {
    border: 8px solid #83C252; /* Cambia el borde al color de fondo original */
    background: white; /* Cambia el fondo a blanco */
    animation: boton-animacion 0.3s ease;
}

.boton:hover h4 {
    color: #83C252; /* Cambia el color del texto al verde original */
}

@keyframes boton-animacion {
    0% {
      transform: scale3d(1, 1, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
} 

.boton h4 {
    margin: auto;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%;
}

/*Capas*/
.seccion1 {
    margin-top: 100px;
    width: 1280px;
    height: 959px;
    position: absolute;
    top: -8px;
    left: 120px;
    
}

.parallax {
    position: relative;
    height: 959px;
     overflow: hidden; 
}

.layer {
    position: absolute;
}

.animacion {
    animation: aparecer 1s cubic-bezier(0.42, 0, 0.58, 1);
    /* Otras propiedades de estilo para la entrada */
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateX(-50px);
        /* Otras propiedades de inicio */
    }

    to {
        opacity: 1;
        transform: translateX(0);
        /* Otras propiedades para cuando está completamente visible */
    }
}

#fondo {
    width: 1512px;
    height: 959.98px;
    top: -100px;
    left: -120px;
    
    gap: 0px;
    opacity: 0px;
    z-index: 1;

}

#arbolGrande {
    width: 560.1px;
    height: 867.75px;
    top: -73px;
    left: -153px;
    gap: 0px;
    opacity: 0px;
    z-index: 4;
    position: relative;
    
}

#arbolMedio {
    top: 5%;
    left: 69%;
    z-index: 3;
}

#arbolChico {
    top: 21%;
    left: 85%;
    z-index: 2;
}

#arbusto1 {
    right: 4%;
    z-index: 1;
    top: 63%;
}

#arbusto2 {
    right: -3%;
    z-index: 2;
    top: 66%;
}

#arbusto3 {
    right: 73%;
    z-index: 3;
    top: 85%;
}

#arbusto4 {
    z-index: 1;
    right: 68%;
    top: 73%;
}

#titulo {
    width: 560px;
    height: 320px;
    
    left: 360px;
    gap: 0px;
    opacity: 0px;
    z-index: 5;
}

#piedra1 {
    right: 7%;
    z-index: 4;
    top: 74%;
}

#piedra2 {
    right: 78%;
    z-index: 2;
    top: 81%;
}

#piedra3 {
    right: 14%;
    z-index: 3;
    top: 75%;
}

#piedra4 {
    right: 14%;
    z-index: 4;
    top: 79%;
}
#personajes{
    transition: transform 0.5s ease-out;
}

#personaje1 {
    width: 240.4px;
    height: 314.48px;
    top: 407.28px;
    left: 420px;
    gap: 0px;
    opacity: 0px;
    transform: rotate(10deg);
    z-index: 5;
    
}

#personaje2 {
    width: 197px;
height: 270px;
top: 326.04px;
left: 536px;
gap: 0px;
opacity: 0px;
z-index: 2;

}

#personaje3 {
    width: 174px;
height: 384px;
top: 238px;
left: 752.25px;
gap: 0px;
opacity: 0px;
z-index: 1;

}

.menuCategorias{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 160px;
    position: fixed;
    display:none;
    z-index: 100000;
    
    
}
.menuCategorias p {
    opacity: 0; /* Oculta los elementos inicialmente */font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background: rgba(0, 206, 214,0.5);
    backdrop-filter: blur(5px);
    text-transform: uppercase;
}

/* Efecto de hover */
.menuCategorias p:hover {
    background: linear-gradient(90deg, #6a82fb, #fc5c7d);
    color: #ffffff;
    border-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}
/* Animaciones en cascada */
.catPersonaje1 {
    animation: fadeInUp 0.6s ease-out forwards;
    animation-delay: 0s; /* Aparece inmediatamente */
}

.catPersonaje2 {
    animation: fadeInUp 0.6s ease-out forwards;
    animation-delay: 0.5s; /* Aparece después de 0.3 segundos */
}

.catPersonaje3 {
    animation: fadeInUp 0.6s ease-out forwards;
    animation-delay: 1s; /* Aparece después de 0.6 segundos */
}

/* Animación */
@keyframes fadeInUp {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.text-content  {
    max-width: 50%;
    margin-right: 20px;
    background-color: transparent;
    z-index: 1;
    position: absolute;
}
