.contenedor-pag-juego{
    display: grid;
    grid-template-areas: "header header"
                          "titulo titulo"
                          "juego juego"
                          "comentarios recomendaciones"
                          "footer footer";
}

.header-juego{
    grid-area: header;
}
.footer-juego{
    grid-area: footer;
}

.main-juego{
    grid-area: juego;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recomendaciones{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    grid-area: recomendaciones;
    width: 350px;
}


/* *juego */
.titulo-juego{
    grid-area: titulo;
    margin-top: 15px;
    width: 100%;
    height: 70px;
    display: flex;
    /* padding-left: 100px; */
    flex-direction: column;
    margin-left: 130px;
}

.contenido-titulo{
    display: flex;
    align-items: center;
}

.titulo-juego div{
    margin-left: 25px;
}

.img-titulo-juego{
    width: 50px;
    height: 50px;
}

.img-titulo-juego img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

span{
    color: var(--acento);
}

.compartir{
    width: 30px;
    height: 30px;
}

.compartir img{
    width: 100%;
    height: 100%;
    margin-left: 700px;
}

.divisor-juego{
    background-color: var(--blanco);
    margin: 8px;
    width: 1100px;
    height: 1px;
}

.juego{
    margin-top: 0px;
    width: 1100px;
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
#contenedorJuego{
    display: none; /* Ocultamos el juego al inicio */
    text-align: center;
    margin-top: 20px;
}

.juego img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.descripcion{
    margin-top: 20px;
    width: 1100px;
    height: 200px;
    background-color: var(--negro3);
    border: 1px var(--blanco) solid;
    border-radius: 10px;
    display: flex;
}

.contenido-descripcion{
    width: 400px;
    height: 100%;
}

.contenido-descripcion h3, p{
    margin-top: 10p x;
    margin-left: 5px;
}

.imagenes-descripcion{
    width: 700px;
    height: 100%;
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imagenes-descripcion img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px var(--blanco) solid;
    border-radius: 5px;
}

.comentarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btn-jugar-juego{
    z-index: 1;
    background-color: var(--acento);
    width: 100px;
    height: 30px;
    border: 1px solid var(--negro3);
    border-radius: 10px;
    position: absolute;
    top:400px;
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--negro3);
}

.victoria{
    color:aqua;
    font-size: 50px;
    
}