body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

.materia {
    text-align: center;
    margin-bottom: 20px;
}

.materia h1 {
    font-size: 24px;
    margin: 0;
}

.integrantes {
    margin-bottom: 20px;
}

.integrantes h2 {
    font-size: 20px;
}

.integrantes h3 {
    font-size: 16px;
    margin: 5px 0;
}

.grupo {
    margin-bottom: 20px;
}

.grupo h3 {
    font-size: 18px;
}

.link a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.link a:hover {
    color: #0056b3;
}